* {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	padding: 0;
	margin: 0;
}
body {
	background-color: blueviolet;
	padding: 20px;
}
.grid-box {
	width: 100%;
	margin-top: 2rem;
}

input {
	margin-top: 2rem;
	color: gray;
	font-size: 1.2rem;
	width: 100%;
}

.card {
	text-align: center;
	border: 1px solid grey;
	border-radius: 10px;
}

img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
}
.card-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat (1, 25rem);
	grid-gap: 10px;
}
